/*-------------------- UNIVERSAL STYLING --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #412645;


    min-height: 100dvh;
    max-width: 100%;
    position: relative;
}

/*-------------------- HEADER STYLING --------------------*/

header {
    display:flex;
    flex-direction: row;
    width: 100%;
    padding: 5%;
}

#logo {
    width: 40%;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
    width: 60%;
    margin: 2%;
}

nav a {
    text-decoration: none;
    font-family: 'Readex Pro', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    text-transform: uppercase;
    text-align: center;
    color: #D9BAD7;
    padding: 2%;
    margin-right: 2%;
    transition-duration: 200ms;
}

nav a:hover {
    color: #F2F5F0;
}

nav #tickets {
    display: flex;
    flex-wrap: nowrap;
    background-color: #F04241;
    color: #F2F5F0;
}

nav #tickets:hover {
    background-color: #F2F5F0;
    color: #F04241;
}

/*-------------------- LANDING PAGE --------------------*/

#landingPage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 5%;
}

#landingPageText {
    width: 40%;
    align-self: flex-start;
    position: relative;
    z-index: 98;
}

#landingPageText h1 {
    font-size: 7em;
    line-height: 0.95em;
    font-weight: 900;
    font-family: 'Londrina Solid', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color:#F2F5F0;
    text-shadow: 7px 7px #F04241;

    padding: 2% 0% 4% 0%;
}

#landingPageText h2 {
    font-family: 'Readex Pro', Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #D9BAD7;

    padding: 1%;
}

#landingPageImageOne {
    width: 30%;
    align-self: flex-end;
    position: relative;
    z-index: 97;
}

#landingPageImageOne img {
    width: 70%;
    position: relative;
    z-index: 96;
}

#landingPageImageTwo {
    width: 30%;
    align-self: flex-end;
}

#landingPageImageTwo img {
    width: 100%;
}

#about {
    padding: 0% 20% 5% 20%;
}

#about p {
    font-family: 'Readex Pro', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 600;
    text-align: justify;
    color: #412645;
    background-color: #F2F5F0;
    box-shadow: 10px 10px #F04241;
    padding: 4%;
}

/*-------------------- ORGANIZATIONS --------------------*/

#organizations {
    background-color: #F2F5F0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    margin: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#organizations h2 {
    font-size: 4.5em;
    line-height: 0.95em;
    font-weight: 900;
    font-family: 'Londrina Solid', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color:#412645;
    padding-bottom: 2%;
}

#orgLogos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

#orgLogos a {
    display: flex;
    width: 20%;
    padding: 1% 2% 1% 2%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: #F04241;
    box-shadow: 10px 10px #412645;
    transition-duration: 200ms;
}

#orgLogos a:hover {
    background-color: #412645;
    box-shadow: 10px 10px #F04241;
}

#orgLogos img {
    width: 100%;
    align-self: center;
}

/*-------------------- PAGE LINKS --------------------*/

#pageLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0;
}

#pageLinks a {
    display: flex;
    width: 33.33%;
    text-decoration: none;
    position: relative;
}

#pageLinks a img {
    width: 100%;
    z-index: 99;
    transition-duration: 200ms;
}

#pageLinks a img:hover {
    opacity: 0;
}

#pageLinks a h2 {
    display: flex;
    align-self: flex-end;
    z-index: 100;
    position: absolute;
    right: 5%;
    padding-bottom: 3%;

    font-size: 4.5em;
    line-height: 0.95em;
    font-weight: 900;
    font-family: 'Londrina Solid', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: right;
    text-decoration: none;
    color:#F2F5F0;
}

#events {
    background-color: #D9BAD7;
}

#tickets {
    background-color: #F04241;
}

#merch {
    background-color: #9e005e;
}

/*-------------------- FOOTER STYLING --------------------*/

#footerLinks {
    background-color: #412645;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 2%;
}

#footerLinks a {
    align-self: center;
    width: 13%;
}

#footerLinks a img {
    padding: 15%;
    width: 100%;
}

/*-------------------- MEDIA QUERIES --------------------*/

@media screen and (max-width:600px){
    * {
        font-size: 90%;
    }
    #landingPage {
        flex-direction: column;
    }
    #landingPageImageOne {
        display: none;
    }
    #landingPageImageTwo {
        align-self: center;
        width: 90%;
        padding-top: 5%;
    }
    #landingPageText {
        align-self: center;
        width: 100%;
        font-size: 100%;
    }
    #about {
        width: 100%;
        padding: 2% 10% 10% 10%;
    }
    #about p {
        font-size: 1.5em;
        padding: 5%;
    }
    #organizations {
        align-content: center;
    }
    #orgLogos {
        flex-direction: column;
        align-self: center;
        width: 70%;
    }
    #orgLogos a {
        width: 100%;
        align-self: center;
        padding: 6% 14% 6% 14%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    #pageLinks {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    #pageLinks a {
        width: 100%;
        align-content: center;
    }
    #pageLinks a img {
        width: 100%;
        height: 20em;
        object-fit: cover;
    }
    #pageLinks a h2 {
        font-size: 8em;
        align-self: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        right: 0;
        left: 0;
    }

    #footerLinks a {
        width: 25%;
    }
}

