/* UNIVERSAL STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F5F0;
}

/* HEADER STYLING */

header {
    display:flex;
    flex-direction: row;
    width: 100%;
    padding: 5%;
}

#logo {
    width: 40%;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
    width: 60%;
    margin: 2%;
}

nav a {
    text-decoration: none;
    font-family: 'Readex Pro', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    text-transform: uppercase;
    text-align: center;
    color: #9E005E;
    padding: 2%;
    margin-right: 2%;
}

nav a:hover {
    color: #F04241
}
nav #tickets {
    display: flex;
    flex-wrap: nowrap;
    background-color: #412645;
    color: #F2F5F0;
}

nav #tickets:hover {
    background-color: #F04241;
}

/* HEADING STYLING */

#heading {
    padding: 2% 5% 5% 5%;
}

#heading h1 {
    font-size: 4.5em;
    line-height: 0.95em;
    font-weight: 900;
    font-family: 'Londrina Solid', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    color:#412645;
    padding-bottom: 2%;
}

#heading h2 {
    font-family: 'Readex Pro', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5em;
    text-align: left;
    color: #412645;
}

/* EVENT SCHEDULE STYLING */

#schedule {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* FRIDAY */

#friday {
    display: flex;
    flex-direction: column;
    padding: 5%;

    background-color: #F04241;

}

#friday h1 {
    font-size: 4.5em;
    line-height: 0.95em;
    font-weight: 900;
    font-family: 'Londrina Solid', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: left;
    color:#412645;
    background-color: #F2F5F0;
    padding: 1.5%;
    width: 250px;

}